[submodule "public"]
	path = public
	url = git@github.com:yurachud/devmirror.github.io.git
	branch = master
[submodule "themes/themes/mediumish"]
	path = themes/themes/mediumish
	url = https://github.com/lgaida/mediumish-gohugo-theme.git
[submodule "themes/mediumish"]
	path = themes/mediumish
	url = https://github.com/lgaida/mediumish-gohugo-theme.git
